hr {
    margin: 1px;
}

.row {
    margin: 10px 0;
}

.card {
    height: 100px;
    width: 100px;
    text-align: center;
}

.card-body {
    position: relative;
}

.numberGuess {
    position: absolute;
    font-size: 16px;
    color: #D25454;
}

.numberGuess.bomb {
    top: 0;
    left: 5px;
}

.numberGuess.un {
    top: 0;
    right: 5px;
}

.numberGuess.deux {
    bottom: 0;
    left: 5px;
}

.numberGuess.trois {
    bottom: 0;
    right: 5px;
}

.card-game {
    font-size: 35px;
    color: #222222;
    background-color: #fafafa;
    background-image: url('../img/assets1/96Thefinalcard.png');
    background-repeat: no-repeat;
    height: 96px;
    width: 96px;
    border: 0;
}

.card-game.guessed {
    border: 0;
    background-image: url('../img/assets1/96BackCard.png');
}

.card-game:hover {
    cursor: pointer;
}

.card-side {
    border: 0;
    background-image: url('../img/assets1/panneaux1etdemilight.png');
    background-repeat: no-repeat;
    height: 96px;
    width: 96px;
    font-weight: 700;
}

.card-game.cursoredCard {
    color: #E00;
}

.card-side, .card-side .card-body {
    padding: 5px;
    font-size: 18px;
}

.card-side .card-total {
    color: #0A0;
}

.card-side .card-bomb {
    color: #C00;
}

#pokevue .badge { font-size: 20px; }

.coeur-life {
    margin: 0 5px;
    width: 40px;
}

.mtop50 { margin-top: 50px; }