<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Pokegame</title>
    <link rel="stylesheet" href="../assets/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/pokegame.css" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Pokegame</h1>
            </div> <!-- .col -->
        </div> <!-- .row -->
    </div> <!-- .container -->

    <div id="pokevue">

        <div v-show="states.param">

        </div>

        <div class="inner-vue container-fluid">

            <div class="row">

                <div class="col-12">
                    <div class="gameboard">

                        <span class="badge badge-info">Level : {{ level }}</span>
                        <span class="badge badge-info">Score total : {{ totalScore }}</span>

                        <div class="row alert" :class="getConsigneClasses()">
                            <div class="col">
                                <p class="consigne">
                                    <span v-show="!states.end">
                                        Retournez les cartes, mais ne tombez pas sur la bombe !!
                                    </span>
                                    <span v-show="states.end && states.success">
                                        Bravo ! Vous avez tout trouvé !<br/>
                                        <span class="btn btn-lg btn-success" @click="nextLevel()">Niveau Suivant</span>
                                    </span>

                                    <span v-show="states.end && !states.success">
                                        BOOOUM ! Perdu, mais vous pouvez recommencer ;)<br/>
                                        <span class="btn btn-primary" @click="restart">Recommencer</span>
                                    </span>
                                </p>  <!-- .consigne -->

                                <span class="badge badge-info">Score : {{ score }}</span>

                                <div class="float-right">
                                     <span v-for="life in lifes" >
                                        <img src="../assets/img/heart.png" class="coeur-life" />
                                    </span>
                                </div>
                            </div> <!-- .col -->
                        </div> <!-- .gameboard -->
                    </div> <!-- .row -->
                </div> <!-- .col -->
            </div> <!-- .row -->

            <div id="cards" class="row">
                <div class="col-12">
                    <div class="row" v-for="(indexI, i) in matrix" :key="getRowUniqueKey(i)">
                        <div class="col-2" v-for="(card, j) in matrix[i]" :key="getUniqueKey(i,j)">
                            <div class="card card-game" @click="guessCard(i,j)" :class="getCardClassClass(i, j, card.guessed)">
                                <div class="card-body">

                                    <span class="numberGuess bomb" v-if="guessMatrix[i][j][0]">B</span>
                                    <span class="numberGuess un" v-if="guessMatrix[i][j][1]">1</span>
                                    <span class="numberGuess deux" v-if="guessMatrix[i][j][2]">2</span>
                                    <span class="numberGuess trois" v-if="guessMatrix[i][j][3]">3</span>

                                     <span v-if="card.guessed">
                                        <img src="../assets/img/ThebombOutline.png" class="img-fluid" v-if="0 === card.value" />
                                        <span v-else>
                                            <img :src="'../assets/img/cardvalue'+card.value+'.png'" />
                                        </span>
                                    </span>

                                </div>  <!-- .card-body -->
                            </div> <!-- .card -->
                        </div> <!-- .col -->

                        <div class="col-2">
                            <div class="card card-side">
                                <div class="card-body">
                                    <span class="card-total">total: {{ sides.lines[i].total }}</span>
                                    <span class="card-bomb">bomb: {{ sides.lines[i].bomb }}</span>
                                </div>  <!-- .card-body -->
                            </div> <!-- .card -->
                        </div> <!-- .col -->

                    </div> <!-- .row -->

                    <div class="row">
                        <div class="col-2" v-for="column in sides.columns">
                            <div class="card card-side">
                                <div class="card-body">
                                    <span class="card-total">total: {{ column.total }}</span>
                                    <span class="card-bomb">bomb: {{ column.bomb }}</span>
                                </div>  <!-- .card-body -->
                            </div> <!-- .card -->
                        </div> <!-- .col -->
                    </div> <!-- .row -->

                </div> <!-- .col -->

                <div class="col-3 text-center mtop50">
                    <div class="row">
                        <div class="col-4"></div> <!-- col -->
                        <div class="col-4">
                            <span @click="moveCursor('up')">
                                <img src="../assets/img/Bouttonflechehaut.png" />
                            </span>
                        </div> <!-- col -->
                        <div class="col-4"></div> <!-- col -->
                    </div> <!-- .row -->
                    <div class="row">
                        <div class="col-4">
                            <span @click="moveCursor('left')">
                                <img src="../assets/img/Bouttonflechegauche.png" />
                            </span>
                        </div> <!-- col -->
                        <div class="col-4"></div> <!-- col -->
                        <div class="col-4">
                            <span @click="moveCursor('right')">
                                <img src="../assets/img/Bouttonflechedroite.png" />
                            </span>
                        </div> <!-- col -->
                    </div> <!-- .row -->
                    <div class="row">
                        <div class="col-4"></div> <!-- col -->
                        <div class="col-4">
                            <span @click="moveCursor('down')">
                                <img src="../assets/img/Bouttonflechebas.png" />
                            </span>
                        </div> <!-- col -->
                        <div class="col-4"></div> <!-- col -->
                    </div> <!-- .row -->
                </div> <!-- .col -->

                <div class="col-9 text-center mtop50">
                    <span @click="setCardGuess(0)">
                        <img src="../assets/img/BouttonBomb-2.png" />
                    </span>
                    <span @click="setCardGuess(1)">
                        <img src="../assets/img/BouttonOne-2.png" />
                    </span>
                    <br/><br/>
                    <span @click="setCardGuess(2)">
                        <img src="../assets/img/BouttonTwo-2.png" />
                    </span>
                    <span @click="setCardGuess(3)">
                        <img src="../assets/img/BouttonThree-2.png" />
                    </span>
                </div> <!-- .col -->

            </div> <!-- #cards.container -->
        </div> <!-- .inner-vue -->
    </div> <!-- #pokevue -->

    <script src="../assets/js/lib/jquery.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/lib/vue.js"></script>

    <script src="../assets/js/const.js"></script>
    <script src="../assets/js/algo.js"></script>
    <script src="../assets/js/pokegame.js"></script>
    <script src="../assets/js/lib/androidjs.js"></script>
</body>
</html>